<h1>All Arsenal Players</h1>
<hr>
<ul>
  <h3>Players</h3>
  <li><%= link_to "Go To Monreal Page", monreal_path %></li>
  <li><%= link_to "Go To Wilshere Page", wilshere_path %> </li>
  <li><%= link_to "Go To Aubameyang Page", aubameyang_path %></li>
  <li><%= link_to "Go To Lacazette Page", lacazette_path %></li>
</ul>

<ul>
  <h3>Other Teams</h3>
  <li><%= link_to "Go To Real Madrid Page", all_realmadrid_path %></li>
  <li><%= link_to "Go To Barcelona Page", all_barcelona_path %></li>
  <li><%= link_to "Go To Man City Page", all_mancity_path %></li>
</ul>
