<h1>All Man City Players</h1>
<hr>
<ul>
  <h3>Players</h3>
  <li><%= link_to "Go To Aguero Page", aguero_path %></li>
  <li><%= link_to "Go To Kompany Page", kompany_path %> </li>
  <li><%= link_to "Go To Ederson Page", ederson_path %></li>
  <li><%= link_to "Go To Kevin DeBruyne Page", kdb_path %></li>
</ul>

<ul>
  <h3>Other Teams</h3>
  <li><%= link_to "Go To Real Madrid Page", all_realmadrid_path %></li>
  <li><%= link_to "Go To Barcelona Page", all_barcelona_path %></li>
  <li><%= link_to "Go To Arsenal Page", all_arsenal_path %></li>
</ul>
