<h1>All Real Madrid Players</h1>
<hr>
<ul>
  <h3>Players</h3>
  <li><%= link_to "Go To Ronaldo Page", ronaldo_path %></li>
  <li><%= link_to "Go To Kroos Page", kroos_path %> </li>
  <li><%= link_to "Go To Modric Page", modric_path %></li>
  <li><%= link_to "Go To Ramos Page", ramos_path %></li>
</ul>

<ul>
  <h3>Other Teams</h3>
  <li><%= link_to "Go To Man City Page", all_mancity_path %></li>
  <li><%= link_to "Go To Barcelona Page", all_barcelona_path %></li>
  <li><%= link_to "Go To Arsenal Page", all_arsenal_path %></li>
</ul>
