<h1>All Barcelona Players</h1>
<hr>
<ul>
  <h3>Players</h3>
  <li><%= link_to "Go To Messi Page", messi_path %></li>
  <li><%= link_to "Go To Iniesta Page", iniesta_path %> </li>
  <li><%= link_to "Go To Pique Page", pique_path %></li>
  <li><%= link_to "Go To Suarez Page", suarez_path %></li>
</ul>

<ul>
  <h3>Other Teams</h3>
  <li><%= link_to "Go To Real Madrid Page", all_realmadrid_path %></li>
  <li><%= link_to "Go To Man City Page", all_mancity_path %></li>
  <li><%= link_to "Go To Arsenal Page", all_arsenal_path %></li>
</ul>
